body {
    color: #333333;
    font-family: arial;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 1rem;
    padding: 1rem 0;
    min-height: 100vh;
}

header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 64px;
    margin-bottom: 1rem;
}

header a {
    color: #888888;
    margin-right: 1rem;
    text-decoration: none;
}

.portrait{
    width: 250px;
}

input {
    border: 1px solid #ccc;
    padding: .5rem;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: .5rem;
}